[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.iterm2"]
	path = home/.iterm2
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
